@model EmployeeLoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Log In</h5>
                <form enctype="multipart/form-data" asp-controller="employee" asp-action="login" method="post" class="form-signin">
                    <div class="form-group row">
                        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Email" class="form-control" placeholder="Email address" required autofocus />
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Remember me</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>

                </form>
            </div>
        </div>
    </div>
</div>